{% extends 'base.html' %}
{% load bootstrap4 %}

{% load i18n %}

{% block content %}
  <div class="container">
    {% bootstrap_messages %}
    <h1 class="my-4">Метки</h1>
    <a class="nav-link" href="{% url 'create_label' %}">{% trans 'Создать метку' %}</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>{% trans 'Имя' %}</th>
          <th>{% trans 'Дата создания' %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for label in labels %}
        <tr>
          <td>{{ label.id }}</td>
          <td>{{ label.name }}</td>
          <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
          <td>
            <a class="text-decoration-none" href="{% url 'update_label' label.id %}">{% trans 'Изменить' %}</a>
            <br>
            <a class="text-decoration-none" href="{% url 'delete_label' label.id %}">{% trans 'Удалить' %}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- /.container-fluid -->
{% endblock %}