{% extends 'base.html' %}
{% load bootstrap4 %}

{% load i18n %}

{% block content %}
    {% include 'include/nav.html' %}
    {% bootstrap_messages %}
    <h1 class="my-4"></h1>
      <div class="card">
        <div class="card-body p-5 bg-light">
          <div class="display-4">{% trans 'Привет от Хекслета!' %}</div>
          <p class="lead">{% trans 'Практические курсы по программированию' %}</p>
          <hr>
          <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io">
            {% trans 'Узнать больше' %}
          </a>
        </div>
      </div>
    {% include 'include/footer.html' %}
{% endblock %}